{% extends 'main.html' %}

{% block content %}
    <center>
        <div class="add_container">
            <h2>Add Task</h2>

            <form action="" method="POST">
                {% csrf_token %}

                <label for="">Title</label>
                <input type="text" name="title"> <br>

                <label for="">Description</label>
                <input type="text" name="desc"> <br>

                <input type="submit" name="" value="Save">

            </form>

       </div>
        
    </center>
{% endblock content %}