# Virtual environment
myenv/
venv/
env/

# Python cache
*.pyc
__pycache__/

# Django database
db.sqlite3

# Static and media folders
staticfiles/
media/

# Environment variables
.env

# VS Code settings
.vscode/
