{% extends 'main.html' %}
{% block content %}

    <center>
        <div class="update-password-container">
            <h2>Update Password</h2>
            {% if wrong_old_pass %}
            <h2 style="color: red;">Entered wrong oldpassword!! Try again</h2>

            {% endif %}

            <form action="" method="POST"  class="update-password-form">
                {% csrf_token %}
                {% if new_pass %}
                    <label for="">Enter New Password</label>
                    <input type="password" name="new_password" required> 
                {% else %}
                    <label for="">Old Password</label>
                    <input type="password" name="old_password" required> 
                {% endif %}
                
                <input type="submit" name="update_password">
            </form>

        </div>
        

     </center>
    
{% endblock content %}