
form {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    width: 250px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

input[type="email"] {
    width: 250px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.update-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.update-links a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 8px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-links a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* change-password  */

.update-password-container {
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    margin-top: 50px;
}

.update-password-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.update-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.update-password-form label {
    font-weight: 600;
    color: #444;
    text-align: left;
}

.update-password-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}
